Repository ucpr/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles-cli, neovim, zsh

Disable markdown treesitter highlighter
  nvim/after/ftplugin/markdown.lua
Labels: neovim

chore: migrate treesitter config to main
  nvim/after/ftplugin/markdown.lua
  nvim/lua/plugins/treesitter.lua
Labels: neovim

chore: update flake
  flake.lock
  nix/nix-darwin/default.nix
Labels: none

chore: update
  wezterm/wezterm.lua
Labels: none

feat: add wezterm workspace fzf switcher
  wezterm/wezterm.lua
  zsh/plugins/fzf_lazy.zsh
  zsh/plugins/zsh_lazy.zsh
Labels: zsh

chore: use wezterm nightly cask
  nix/nix-darwin/default.nix
Labels: none

fix: remove invalid wezterm config fields
  wezterm/wezterm.lua
Labels: none

chore: update nix flake
  flake.lock
Labels: none

chore: pin
  .github/workflows/dependabot-automate.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
Labels: none

chore: replace nvim AI plugins with sidekick.nvim, add aerospace tiling shortcut
  aerospace/aerospace.toml
  aerospace/scripts/tile_all
  nix/nix-darwin/default.nix
  nvim/keybind.md
  nvim/lua/core/autocmd.lua
  nvim/lua/plugins/claude-code.lua
  nvim/lua/plugins/claudecode.lua
  nvim/lua/plugins/copilot-chat.lua
  nvim/lua/plugins/copilot.lua
  nvim/lua/plugins/sidekick.lua
Labels: neovim

feat(wezterm): add agent status tracking and vertical sidebar
  wezterm/agent-sidebar/go.mod
  wezterm/agent-sidebar/go.sum
  wezterm/agent-sidebar/main.go
  wezterm/scripts/agent-status.sh
  wezterm/wezterm.lua
Labels: none

feat(wezterm): richer agent sidebar (spinner, emoji, agent filter/name)
  wezterm/agent-sidebar/go.mod
  wezterm/agent-sidebar/go.sum
  wezterm/agent-sidebar/main.go
  wezterm/wezterm.lua
Labels: none

feat(wezterm/agent-sidebar): add `setup` subcommand to wire hooks
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/setup.go
  wezterm/agent-sidebar/setup_test.go
Labels: none

fix(wezterm/agent-sidebar): honor CLAUDE_CONFIG_DIR / CODEX_HOME in setup
  wezterm/agent-sidebar/setup.go
  wezterm/agent-sidebar/setup_test.go
Labels: none

docs(wezterm/agent-sidebar): add CLAUDE.md
  wezterm/agent-sidebar/CLAUDE.md
Labels: none

chore: ln
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/CLAUDE.md
Labels: none

feat(wezterm/agent-sidebar): stream file-change diffs alongside agent status
  wezterm/agent-sidebar/README.md
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/setup.go
  wezterm/agent-sidebar/setup_test.go
  wezterm/scripts/agent-filechange.sh
Labels: none

feat(wezterm/agent-sidebar): even three-way layout, 2-line entries, click-to-focus
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/README.md
  wezterm/agent-sidebar/main.go
  wezterm/scripts/agent-filechange.sh
  wezterm/wezterm.lua
Labels: none

fix(wezterm): drop agent-status tab coloring, icon, and right-status summary
  wezterm/wezterm.lua
Labels: none

fix(wezterm/agent-sidebar): pin CHANGES to the bottom third of the pane
  wezterm/agent-sidebar/main.go
Labels: none

feat(wezterm/scripts): support Codex's apply_patch in the file-change stream
  wezterm/scripts/agent-filechange.sh
Labels: none

fix(wezterm): show sibling pane title when agent-sidebar tab is focused
  wezterm/wezterm.lua
Labels: none

feat(wezterm): show tab number in the agent list
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/main.go
  wezterm/wezterm.lua
Labels: none

chore: gitignore the agent-sidebar build binary
  .gitignore
Labels: none

fix(wezterm): drop agent list entries once the process actually exits
  wezterm/agent-sidebar/AGENTS.md
  wezterm/wezterm.lua
Labels: none

fix(wezterm): grace period before dropping a pane's agent entry
  wezterm/agent-sidebar/AGENTS.md
  wezterm/wezterm.lua
Labels: none

fix(wezterm/agent-sidebar): truncate by display width, not rune count
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/go.mod
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/main_test.go
Labels: none

fix(wezterm): always open the agent-sidebar split at the tab's left edge
  wezterm/wezterm.lua
Labels: none

fix(wezterm/agent-sidebar): self-correct pane width via direct pty query
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/go.mod
  wezterm/agent-sidebar/main.go
Labels: none

revert(wezterm): drop top_level from the agent-sidebar split
  wezterm/wezterm.lua
Labels: none

revert(wezterm): drop the sidebar-focused tab title override
  wezterm/wezterm.lua
Labels: none

fix(wezterm): scope the sidebar tab-title override to tab.panes
  wezterm/wezterm.lua
Labels: none

chore: update
  flake.lock
  nix/nix-darwin/default.nix
Labels: none

feat(wezterm/agent-sidebar): resolve hook script paths from gitconfig's ghq.root
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/setup.go
  wezterm/agent-sidebar/setup_test.go
Labels: none

chore: update
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/main_test.go
Labels: none

chore: use awscli2
  nix/home-manager/packages.nix
Labels: none

refactor(wezterm/agent-sidebar): rename CHANGES section to AGENT CHANGES
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/README.md
  wezterm/agent-sidebar/main.go
Labels: none

feat(wezterm/agent-sidebar): add NOTIFY section and noti command
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/README.md
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/main_test.go
  zsh/plugins/func_lazy.zsh
Labels: zsh

feat(wezterm/agent-sidebar): show tab number on NOTIFY entries
  wezterm/agent-sidebar/AGENTS.md
  wezterm/agent-sidebar/README.md
  wezterm/agent-sidebar/main.go
  wezterm/agent-sidebar/main_test.go
  wezterm/wezterm.lua
Labels: none

chore: remove alt tab
  nix/nix-darwin/default.nix
Labels: none

.github/labeler.yml:

dotfiles-cli:
- changed-files:
  - any-glob-to-any-file: "cli/**/*"
neovim:
- changed-files:
  - any-glob-to-any-file: "nvim/**/*"
zsh:
- changed-files:
  - any-glob-to-any-file: "zsh/**/*"
