Repository ucpr/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles-cli, neovim, zsh

.github/labeler.yml:

dotfiles-cli:
- changed-files:
  - any-glob-to-any-file: "cli/**/*"
neovim:
- changed-files:
  - any-glob-to-any-file: "nvim/**/*"
zsh:
- changed-files:
  - any-glob-to-any-file: "zsh/**/*"

chore: add spark
  brew/Brewfile
Labels: none

update
  nvim/lazy-lock.json
  nvim/lazyvim.json
  nvim/lua/config/lazy.lua
  nvim/lua/plugins/etc.lua
  nvim/lua/plugins/lualine.lua
  nvim/lua/plugins/telescope.lua
Labels: neovim

update vim conf
  nvim/lazy-lock.json
  nvim/lua/config/lazy.lua
  nvim/lua/plugins/cmp.lua
  nvim/lua/plugins/hover.lua
  nvim/lua/plugins/lspconfig.lua
  nvim/lua/plugins/oil.lua
  nvim/snippets/global.json
  nvim/snippets/go.json
Labels: neovim

add tabline setting
  nvim/lua/plugins/lualine.lua
Labels: neovim

add plugins
  nvim/lazy-lock.json
  nvim/lua/plugins/aerial.lua
  nvim/lua/plugins/gitsigns.lua
  nvim/lua/plugins/pounce.lua
  nvim/lua/plugins/project.lua
  nvim/lua/plugins/telescope.lua
  nvim/lua/plugins/treesj.lua
Labels: neovim

update plugin conf
  nvim/lazy-lock.json
  nvim/lua/plugins/cmp.lua
  nvim/lua/plugins/go.lua
  nvim/lua/plugins/telescope.lua
Labels: neovim

add actions preview
  nvim/lazy-lock.json
  nvim/lua/plugins/actions-preview.lua
  nvim/lua/plugins/lspconfig.lua
Labels: neovim

:rocket:
  nvim/lua/plugins/lualine.lua
  nvim/lua/plugins/project.lua
Labels: neovim

chore: add loader.enable
  nvim/init.lua
Labels: neovim

chore: add spell file
  nvim/lua/plugins/project.lua
  nvim/spell/en.utf-8.add
  nvim/spell/en.utf-8.add.spl
Labels: neovim

chore: update plugins
  karabiner/karabiner.json
  nvim/lazy-lock.json
  nvim/lua/plugins/mason.lua
  nvim/lua/plugins/nvim-tree.lua
  nvim/lua/plugins/project.lua
  nvim/spell/en.utf-8.add
Labels: neovim

update brewfile
  brew/Brewfile
Labels: none

add vlc
  brew/Brewfile
Labels: none

chore: update k9s config
  cli/lib/linkMap.ts
  k9s/aliases.yaml
  k9s/config.yaml
  k9s/skin.yml
Labels: dotfiles-cli

chore: add craft
  brew/Brewfile
  karabiner/karabiner.json
  nvim/lazy-lock.json
Labels: neovim

chore: add copilot chat
  nvim/lazy-lock.json
  nvim/lua/plugins/copilot-chat.lua
Labels: neovim

fix goflags
  nvim/lua/plugins/lspconfig.lua
Labels: neovim

feat: add tiny line diagnostic
  nvim/lazy-lock.json
  nvim/lua/plugins/tiny-line-diagnostic.lua
Labels: neovim

chore: add claude
  brew/Brewfile
Labels: none

chore: update
  nvim/lazy-lock.json
Labels: neovim

chore: update
  .gitignore
  git/.gitconfig
  nvim/lazy-lock.json
  zsh/plugins/env_lazy.zsh
Labels: neovim, zsh

fix: fix lsp config
  nvim/lua/plugins/lspconfig.lua
Labels: neovim

chore: pin mason
  nvim/lua/plugins/lazydev.lua
  nvim/lua/plugins/mason.lua
Labels: neovim

chore: fix keymap
  nvim/lua/plugins/lazydev.lua
  nvim/lua/plugins/lspconfig.lua
Labels: neovim

chore: update
  git/ignore
  mise/config.toml
Labels: none

feat: add worktree switcher
  git/.gitconfig
  zsh/plugins/func_lazy.zsh
Labels: zsh

feat: update
  nvim/lua/plugins/claude-code.lua
  nvim/lua/plugins/lspconfig.lua
  wezterm/wezterm.lua
  zsh/plugins/fzf_lazy.zsh
Labels: neovim, zsh

feat: add osascript-system-notify function for macOS notifications
  zsh/plugins/env_lazy.zsh
  zsh/plugins/func_lazy.zsh
Labels: zsh

feat: add claude config directory to linkMap
  cli/lib/linkMap.ts
Labels: dotfiles-cli

change font
  wezterm/wezterm.lua
Labels: none

add devcontainer alias
  zsh/plugins/alias_lazy.zsh
Labels: zsh

claude code nvim plugin
  nvim/lua/plugins/claudecode.lua
Labels: neovim

chore: simplify treesj keybindings and add keybind documentation
  nvim/keybind.md
  nvim/lua/plugins/treesj.lua
Labels: neovim

chore: update config
  mise/config.toml
Labels: none

chore: update
  brew/Brewfile
  mise/config.toml
  nvim/lua/core/autocmd.lua
  nvim/lua/core/options.lua
  nvim/lua/plugins/project.lua
Labels: neovim

chore: update
  brew/Brewfile
  git/ignore
Labels: none

add nix
  .gitignore
  flake.lock
  flake.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Labels: none

setup nix
  flake.nix
  mise/config.toml
  nix/home-manager/default.nix
  nix/home-manager/dotfiles.nix
  nix/home-manager/home.nix
  nix/home-manager/packages.nix
  nix/nix-darwin/default.nix
  nvim/lua/plugins/treesitter.lua
  wezterm/wezterm.lua
  zsh/.zshrc
Labels: neovim, zsh

update pkgs
  nix/home-manager/packages.nix
Labels: none

chore: add git wt
  brew/Brewfile
Labels: none
