Repository ucpr/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles-cli, neovim, zsh

chore: git worktree alias
  zsh/plugins/alias_lazy.zsh
  zsh/plugins/func_lazy.zsh
Labels: zsh

chore: update
  brew/Brewfile
Labels: none

chore: add homerow
  brew/Brewfile
Labels: none

chore: update nix
  README.md
  nix/nix-darwin/default.nix
Labels: none

chore: remove brewfile
  brew/Brewfile
  nix/nix-darwin/default.nix
Labels: none

chore: remove scripts command
  script_commands/pkg-go-dev.sh
  script_commands/script-command.template.sh
Labels: none

chore: remove cli
  cli/README.md
  cli/deno.jsonc
  cli/deno.lock
  cli/import_map.json
  cli/lib/deps.ts
  cli/lib/file.ts
  cli/lib/healthcheck.ts
  cli/lib/linkMap.ts
  cli/lib/logo.ts
  cli/lib/setup.ts
  cli/main.ts
Labels: dotfiles-cli

chore: add homeConfigurations
  flake.nix
  nix/home-manager/packages.nix
Labels: none

fix: fix inline
  zsh/.zshrc
Labels: zsh

chore: remove workflows
  .github/workflows/configuration-tester.yaml
  .github/workflows/deno-ci.yaml
Labels: none

chore: add pkgs
  nix/home-manager/packages.nix
Labels: none

fix: replace deprecated vim.lsp.get_active_clients with get_clients
  nvim/lua/plugins/lualine.lua
Labels: neovim

chore: add wget to packages
  nix/home-manager/packages.nix
Labels: none

chore: use writable path for lazy.nvim lockfile
  nvim/lua/config/lazy.lua
Labels: neovim

refactor: reorganize lspconfig into directory structure
  nvim/lua/plugins/lspconfig.lua
  nvim/lua/plugins/lspconfig/after/gopls.lua
  nvim/lua/plugins/lspconfig/init.lua
Labels: neovim

chore: update mason.nvim config for v2
  nvim/lua/plugins/mason.lua
Labels: neovim

chore: improve lspconfig initialization
  nvim/lua/plugins/lspconfig/init.lua
Labels: neovim

chore: use claude native
  mise/config.toml
  nix/home-manager/packages.nix
  zsh/plugins/env_lazy.zsh
Labels: zsh

chore: update
  nix/home-manager/packages.nix
  nix/nix-darwin/default.nix
Labels: none

chore: update ignore
  git/ignore
Labels: none

chore: minor update
  git/ignore
  nix/nix-darwin/default.nix
Labels: none

chore: update neovim
  mise/config.toml
Labels: none

chore: update
  nix/nix-darwin/default.nix
Labels: none

chore: add aerospace and borders config
  aerospace/aerospace.toml
  aerospace/scripts/float_all
  aerospace/scripts/tile_all
  borders/bordersrc
Labels: none

chore: add symlink
  nix/home-manager/dotfiles.nix
Labels: none

chore: add codex-app
  nix/nix-darwin/default.nix
Labels: none

chore: commentout
  nix/nix-darwin/default.nix
Labels: none

chore: update nix
  nix/home-manager/dotfiles.nix
  nix/nix-darwin/default.nix
Labels: none

chore: add hashigaki
  nvim/lua/plugins/hashigaki.lua
Labels: neovim

chore: update cask
  nix/nix-darwin/default.nix
Labels: none

chore: update
  mise/config.toml
  nix/home-manager/packages.nix
Labels: none

chore: update flake
  flake.lock
  nix/home-manager/packages.nix
Labels: none

chore: add commit hook
  README.md
  git/hooks/pre-commit
Labels: none

chore: update
  git/ignore
Labels: none

chore: add codex cli
  nix/nix-darwin/default.nix
Labels: none

chore: update nix flake
  flake.lock
Labels: none

chore: update
  nix/nix-darwin/default.nix
  nvim/lua/plugins/hashigaki.lua
Labels: neovim

fix: markdown error
  nvim/lua/plugins/treesitter.lua
Labels: neovim

chore: update
  nvim/lua/plugins/gitsigns.lua
  nvim/lua/plugins/hashigaki.lua
Labels: neovim

chore: add python
  mise/config.toml
Labels: none

.github/labeler.yml:

dotfiles-cli:
- changed-files:
  - any-glob-to-any-file: "cli/**/*"
neovim:
- changed-files:
  - any-glob-to-any-file: "nvim/**/*"
zsh:
- changed-files:
  - any-glob-to-any-file: "zsh/**/*"
